div.login-table-row {
    display: table-row;
    height: 35px;
}

div.login-columns {
    width: 300px;
}

button.link {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    font-style: italic;
}

div.hidden {
    visibility: hidden;
    display: none;
}

div.visible{
    visibility: visible;
}

.button {
    background-color: #327f98;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

div.game-image-columns {
    width: 900px;
}

div.table-row {
    display: table-row;
}

div.game-image-columns div {
    width: 110px;
    height: 110px;
    float: left;
}

div.login-columns input {
    width: 100px;
    height: 20px;
    float: right;
    padding-top: 2px;
    padding-bottom: 2px;
}

img:hover.user-hover {
    outline: 2px solid black;
    cursor: pointer;
}

.image-selected {
    outline: 2px solid red;
}




